<a href="/myapp">Back</a>
<div>
  This demonstrates SQL Injection vulnerability. User form input has not been
  sanitized properly when used in SQL query.
</div>

<form method="POST">
  {% csrf_token %}
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    value="=' UNION SELECT * FROM myapp_User--"
  />
  <br />
  <label for="username">Password</label>
  <input
    type="password"
    name="password"
    value="=' UNION SELECT * FROM myapp_User--"
  />
  <br />
  <input type="submit" value="Login" />
</form>

<div>
  <code>{{ user }}</code>
</div>
