<div>
  <h1>Vulnerabilities</h1>
  <ul>
    <li><a href="flaw-1">Flaw #1: Broken access control</a></li>
    <li><a href="fix-1">Fix #1: Broken access control</a></li>
    <br />
    <li><a href="flaw-2">Flaw #2: XSS</a></li>
    <li><a href="fix-2">Fix #2: XSS</a></li>
    <br />
    <li><a href="flaw-3">Flaw #3: Injection</a></li>
    <li><a href="fix-3">Fix #3: Injection</a></li>
    <br />
    <li><a href="flaw-4">Flaw #4: XXE</a></li>
    <li><a href="fix-4">Fix #4: XXE</a></li>
    <br />
    <li><a href="flaw-5">Flaw #5: Sensitive Data Exposure</a></li>
    <li><a href="fix-5">Fix #5: Sensitive Data Exposure</a></li>
  </ul>
</div>
